* {
    padding: 0px;
    font-family: sans-serif;
    margin: 0px;
    outline: none;
    box-sizing: border-box;
}

:root {
    --orange: #ff0045;
    --blue: #06053b;
    --grey: #eda7ba;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    background: var(--grey);
}

header {
    width: 100%;
    height: 150px;
    background: var(--orange);
}

.conteudo {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

nav {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.marca {
    font-size: 24px;
    color: var(--blue);
    cursor: pointer;
    margin-right: auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul li {
    margin: 10px;
    list-style: none;
}

nav ul li a {
    color: var(--blue);
    text-decoration: none;
}

nav ul li a:hover {
    color: #ff00ff;
}


nav ul button {
    border: 1px solid var(--blue);
    background: transparent;
    color: var(--blue);
    border-radius: 4px;
    padding: 8px 40px;
    cursor: pointer;
    font-weight: bold;
    display: none;
}

nav ul button:hover {
    transition: all 0.9s;
    background: #ff00ff;
    font-weight: bolder;
    color: var(--orange);
    border: 1px solid #ff00ff;
}
.about-block{
    width: 100%;
    height:  600px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.about-block img{
    position: absolute;
    width: 2000px;
    height: 600px;
    padding-top: 20px;
}
.text-content{
    padding-top: 40px;
    font-size: 1.1em;
    width: 700px;
}
.card-block {
    max-width: 1000px;
    min-width: 300px;
    height: 600px;
    background: white;
    margin: 0 auto;
    display: grid;
    border-radius: 8px;
    z-index: 10;
    padding: 50px;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    gap: 30px;
}

.card-item {
    max-width: 420px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #000;
    border-radius: 2px;
}

.card-item img {
    width: 64px;
    height: 64px;
}

.card-item .text {
    max-width: 60%;
    margin: 5px;
}

footer {
    width: 100%;
    height: 250px;
}

footer .main {
    width: 100%;
    height: 200px;
    background-color: var(--orange);
    padding: 20px 10px;
}

.footer-links {
    max-width: 1000px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-company,
.footer-rental,
.footer-contact,
.footer-social {
    color: white;
    height: 100%;
    min-height: 100px;
}

.footer-links h4 {
    margin-bottom: 10px;
}

.footer-links {
    margin-bottom: 8px;
}

.main .footer-social img {
    width: 32px;
    height: 32px;
}

footer .last {
    width: 100%;
    height: 50px;
    background: var(--blue);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 576px) {
    nav ul li {
        display: none;
    }

    .header-block img {
        width: 70%;
        position: absolute;
        right: 16%;
        top: 30%;
    }

    .header-block .text {
        position: absolute;
        bottom: 10%;
        left: 15;
    }

    section .filter-card {
        width: 390px;
        padding: 0px 10px;
    }

    .search-input {
        max-width: 700px;
        min-width: 240px;
    }

    .search-button {
        max-width: 150px;
        min-width: 80px;
    }

    .about {
        margin-top: 100px;
    }

    .title-wrapper-about {
        margin-bottom: 20px;
    }

    .about-content {
        flex-direction: column;
        height: 100%;
    }

    .left {
        display: none;
    }

    .right {
        width: 90%;
    }

    .right p {
        width: 100%;
        margin: 0px;
        text-align: left;
    }

    .features {
        height: 100%;
    }

    .feature-card-block {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    footer {
        height: 100%;
    }

    footer .main {
        height: 100%;
    }

    .footer-links {
        flex-direction: column;
        padding-left: 10%;
    }
}
